<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hola <%= @name %></h1>
<p>
  Recibimos tu solicitud de recuperar el ingreso a la aplicación
  Para ingresar nuevamente al sistema, tenes que utilizar la siguiente contraseña:
</p>
<p>
  <%= @new_password %>
</p>
<p>
  Te recomendamos cambiarla en el proximo ingreso para que estés mas seguro.
</p>
<p>
  Atentamente: Los que hacemos <link>MiHC</link>
</p>
</body>
</html>
