<h1>Consultas realizadas</h1>


<div class="row">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>Fecha</th>
        <th>Motivo</th>
      </tr>
      <% @medical_consultations.each do |data| %>
          <tr>
            <td><%= data.date %></td>
            <td><%= data.reason %></td>
          </tr>
      <% end %>
    </table>
    <%= will_paginate @medical_consultations %>
  </div>
</div>
<p><%= link_to 'Nueva Consulta', new_medical_consultation_path(@patient_id) , method: :get , class: "btn btn-primary" %></p>
