<li class="control-group nested-fields">
  <div class="controls">
    <div class="row">
      <div class="col-md-4">
      <%= f.label :bond, "Familiar" %>
      <%= f.select :bond, Relative::BOND, {},{class: 'form-control'}  %>
      </div>
      <div class="col-md-4">
      <%= f.label :status, "Situacion" %>
      <%= f.select :status, Relative::STATUS, {},{class: 'form-control'}  %>
      </div>
    </div>
  </div>
</li>