// Place all the styles related to the MedicalConsultation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
select {
  width: 240px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
}
select.date-myselect {
  width: 30.5%;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  display: inline;
}

.form-margin {
  margin-top: 25px;
}