<footer class="footer">
  <small>

  </small>
  <nav>
    <ul>
      <li><%= link_to "Acerca",   '#' %></li>
      <li><%= link_to "Contacto", '#' %></li>
      <li><a href="http://news.railstutorial.org/">Noticias</a></li>
    </ul>
  </nav>
</footer>