<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Mi Historia Clinica", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Pacientes",  patients_path %></li>

        <% if logged_in? %>
            <li><%= link_to "Salir", logout_path, method: :delete %></li>
        <% else %>
            <li><%= link_to "Ingresar", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>